body {
  background-color: #f6d050;
  font-family: "Figtree";
}
img {
  display: block;
  border-radius: 12px;
  margin: 0 auto;
  width: 100%;
}
.container {
  background-color: white;
  box-shadow: 5px 5px black;
  border: 1px solid black;
  border-radius: 12px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}
.button {
  background-color: #f6d050;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}
