body {
  background-color: #f6d050;
  font-family: "Figtree";
}

footer {
  text-align: center;
  margin-top: 30px;
}
h2 {
  font-size: 20px;
}
p {
  color: #969696;
  font-size: 14px;
}
.container {
  background-color: white;
  box-shadow: 6px 6px black;
  border: 1px solid black;
  border-radius: 12px;
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
}
.title:hover {
  color: #f6d050;
}
.main {
  display: block;
  border-radius: 12px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}
.button {
  background-color: #f6d050;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 4px;
}
.date {
  color: black;
  font-size: 12px;
  margin-top: 20px;
}
.profile {
  display: flex;
  width: 37%;
  justify-content: space-between;
  align-items: center;
}
.profile p {
  color: black;
  font-weight: bold;
  font-size: 12px;
}
.profile img {
  width: 30px;
  height: 30px;
}
